# development config file(s):
/dev.ini
/config.mk
# Windows artefacts:
/Thumbs.db
# OSX artefacts
.DS_Store
# plugin builds:
/*.zip
# assets managements artefacts (yarn, webpack etc.):
/assets/*/node_modules
/assets/*/yarn-error.log
*.js.map
*.css.map

# composer install directory
/vendor
# phpstorm
/.idea
