.opinionstage-hero-line {
    color: #6E6E6E;
    margin-left: auto;
    margin-right: auto;
    padding: 28px 32px;
    max-width: none;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #eee;
    
    &__need-help {
        margin-right: 5px;
        color: #4397f7;
        display: inline-block;
        &:hover,
        &:focus {
            color: #4397f7;
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: 1px solid #4397f7;
            box-shadow: none;
        }
    }
}