@import "../content-popup/styles/icon-font";
$blue: #32adbc;
$blue2: #31aebe;
$light_red: #f46368;


#opinionstage-content {
  height: auto;
  margin: 0;
  min-height: 100%;
  overflow: hidden;
  padding-top: 20px;
  width: 100%;
  -webkit-font-smoothing: antialiased;

  .opinionstage-header-wrapper {
    background: #232121;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
  }

  .opinionstage-logo-wrapper {
    padding: 10px 30px;
  }

  .opinionstage-logo {
    background: url("../images/os-logo-header.png") no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 150px;
  }

  .opinionstage-status-content {
    background-color: #fff;
    border-bottom: 3px solid $blue;
    color: #000;
    height: 109px;
    padding: 20px 35px 0;
  }

  .opinionstage-status-content-connected {
    color: #fff;
    height: 115px;
    padding: 30px 30px 0;
  }

  .opinionstage-connect-form {
    display: inline-block;
  }

  .opinionstage-connect-btn {
    padding-bottom: 14.2px !important;
    padding-top: 14.2px !important;
    position: relative;
    cursor: pointer;
  }

  .opinionstage-status-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 14px;
    .opinionstage-title {
      font-size: 20px;
    }
  }

  .opinionstage-status-content .os-icon-plugin {
    font-size: 19px;
    margin-right: 7px;
  }

  #os-switch-email {
    font-size: 14px;
    padding: 11px 0;
  }

  .opinionstage-blue-btn {
    background-color: $blue;
    border-radius: 3px;
    border-style: hidden;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    min-width: 100px;
    padding: 9px 10px;
    text-decoration: none;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: 0.2s ease;
    &:hover {
      background-color: #2f9fad;
    }
    
    &.border {
      background: #fff;
      color: $blue;
      border: 1px solid $blue;
      &:hover {
        background-color: rgba(49,174,190,0.1); 
      }
    }
  }

  .opinionstage-create-btn {
    width: 100px;
  }

  a.opinionstage-blue-bordered-btn {
    border: 1px solid $blue;
    border-radius: 2px;
    color: $blue;
    display: block;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  .opinionstage-dashboard-right a.opinionstage-blue-bordered-btn {
    float: left;
    margin-right: 5px;
  }

  a.opinionstage-blue-bordered-btn.disabled {
    color: #cacac8;
    border: 1px solid #cacac8;

    &:hover {
      background-color: #f9f9f9;
      color: #cacac8;
      cursor: default;
    }
  }

  input#os-email {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    font-size: 14px;
    margin: 0 10px 0 0;
    min-width: 300px;
    padding: 10px 12px 9px;

    &:disabled {
      background-color: black;
      color: white;
      opacity: 0.7;
      padding: 3px 10px;
    }
  }

  .opinionstage-dashboard {
    background-color: #fff;
    margin-right: 20px;
    min-height: 800px;
    overflow: hidden;
  }

  .opinionstage-dashboard-left,
  .opinionstage-dashboard-right {
    width: 1000px;
  }

  .opinionstage-dashboard-left {
    margin: 30px;
    .opinionstage-section-header .opinionstage-section-title {
      float: left;
      font-size: 30px;
      padding: 0;
      line-height: 1;
    }
  }

  .opinionstage-dashboard-section {
    margin-bottom: 30px;
  }

  .opinionstage-dashboard-section {
    .opinionstage-section-header {
      height: 58px;
      margin-top: 10px;
      overflow: hidden;

      a {
        margin: 0;
        padding: 10px;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .opinionstage-section-content {
      display: table;
      border-collapse: collapse;
      width: 100%;
      position: relative;
    }
  }

  a.opinionstage-help-link {
    font-size: 18px;
    text-decoration: none;
  }

  #opinionstage-section-help {
    .opinionstage-section-content {
      border: 1px solid #c8c8c9;
    }

    .opinionstage-section-content {
      height: 307px;
    }

    .opinionstage-section-cell a {
      font-size: 18px;
      margin-bottom: 5px;
      text-decoration: none;
    }
  }

  .opinionstage-help-row {
    border-bottom: 1px solid #c8c8c9;
    margin: 0 10px;
    padding: 25px 0 25px 10px;
  }

  .opinionstage-help-row:last-child {
    border-bottom: none;
  }
}

.opinionstage-dashboard-left .opinionstage-create-btn {
  padding: 12px 10px !important;
}

// #opinionstage-content
#opinionstage-content,
.opinionstage-sidebar-widget {
  a.opinionstage-blue-bordered-btn:hover {
    background-color: rgba(49,174,190,0.1);
  }
}
.opinionstage-my-items-message {
  display: none;
  font-size: 16px;
  text-align: center;
}

#opinionstage-failed-load-items-request {
  display: none;
  font-size: 15px;
  text-align: center;
}


#opinionstage-section-create {
  .opinionstage-section-content {
    height: 435px;
  }

  .opinionstage-section-raw {
    border: 1px solid #c8c8c9;
    display: table-row;
    border-left: none;
    border-right: none;
  }

  .opinionstage-section-cell {
    display: table-cell;
    padding: 20px 0;
    vertical-align: middle;

    &.opinionstage-icon-cell {
      color: #3499c2;
      font-size: 35px;
      text-align: center;
      width: 7%;
    }

    &.opinionstage-btn-cell {
      text-align: right;
      width: 36%;
    }

    &.opinionstage-description-cell {
      width: 57%;

      .title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #3c434a;
        text-decoration: none;
      }

      .example {
        color: #b1b1b1;
        font-size: 14px;
        line-height: normal;
      }
    }
  }
  
  .opinionstage-blue-btn {
    padding: 12px 10px;
    text-transform: uppercase;
    min-width: 150px;
    &:not(:last-child) {
      margin-right: 10px;
    }
    
    @media (max-width: 1230px ) {
      display: block;
      width: auto;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
      } 
    }
  }
}

/* Getting started */
.gettingStartedSection {
  background: #fff;
  margin-right: 20px;
  min-height: 500px;
  overflow: hidden;
  padding: 30px;

  p {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
  }
}

h1.gettingStartedHeading {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 35px;
  margin: 0 auto;
  max-width: fit-content;
  width: 100%;
}

#opinionstage-content a.gettingStartedCreate.button {
  background: #3499c2;
  box-shadow: 0 0 0 0;
  color: #ffffff;
  display: block;
  font-size: 20px;
  height: auto;
  letter-spacing: 1px;
  margin-top: 20px;
  max-width: fit-content;
  padding: 11px 10px;
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .gettingStartedSection {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px !important;
  }
  #opinionstage-content .opinionstage-status-content {
    height: 160px !important;
  }
  #opinionstage-content .opinionstage-status-content-connected {
    height: 162px !important;
  }
  .gettingStartedSection p {
    text-align: center;
  }
  #opinionstage-content .opinionstage-blue-btn {
    margin-left: 30px;
    margin-top: 15px;
  }
  #opinionstage-content a.gettingStartedCreate.button {
    margin: 20px auto 0 !important;
  }
  .text-section-getting-stared-os p {
    text-align: left;
  }
}


.opinionstage-dashboard-left .os_use_template_btn {
  margin: 0;
  padding: 12px 15px !important;
}

/* My Items Page Css */
td.long {
  padding-left: 10px;
  width: 48%;
  > div {
    position: relative;
    width: 90%;
    height: 85px;
  }
  table {
    bottom: 0;
    color: #b1b1b1;
    line-height: normal;
    position: absolute;
    width: 100%;
    td {
      max-width: 300px;
    }
  }
  a {
    color: #212120;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    max-height: 3.6em;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
  }
}


td.action {
  width: 30%;
  a.opinionstage-blue-bordered-btn {
    font-size: 15px;
    margin-right: 9px;
  }
}


span.os-icon-plugin.icon-os-common-date {
  float: left;
  margin-right: 4px;
}


.icon-os-common-date:before {
  content: "\E91A";
}

.label {
  line-height: 15px;
}

.content-item-label {
  background-color: #222120;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

a.opinionstage-blue-bordered-btn {
  float: left;
  margin-right: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #3aaebd;
  border-radius: 3px;
  color: #3aaebd;
  display: block;
  font-size: 14px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s ease;
}


.content-item-image.quiz {
  height: 90px;
  position: relative;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    bottom: 0;
    display: block;
    height: 90px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    width: 120px;
  }
}

.content-item-label {
  background-color: #222120;
  color: white;
  font-size: 12px;
  left: 0;
  padding: 1px 5px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

tr.item-wrapper {
  border-top: 1px #e5e5e5 solid;
  display: table-cell;
  padding: 10px 0;
  transition: .2s ease;
  &:hover {
    background-color: #f7f7f7;
  }
  
  .opinionstage-item-title {
    font-weight: 600;
  }
  
  .icon-os-status-closed,
  .icon-os-status-open {
    margin-right: 5px;
  }
  .icon-os-status-closed {
    color: $light_red;
  }
  .icon-os-status-open {
    color: $blue2;
  }
  .opinionstage-draft {
    color: $light_red;
    text-transform: capitalize;
    font-size: 80%;
  }

  @media only screen and (max-width: 768px) {
    > td {
      display: block;
      width: 100%;
    }
  }
}

.opinionstage-with-separator:before {
  content: "";
  margin: 0 10px;
  height: 100%;
  border-left: 1px solid #b1b1b1;
}

.opinionstage-section-header {
  font-size: 23px;
  height: 40px;
  overflow: visible;
}

.opinionstage-anchors-list {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #e5e5e5;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  margin-top: 17px;
  margin-bottom: 0;
  &.opened {
    opacity: 1;
    visibility: visible;
  }
  a {
    width: 100%;
  }
}

div#container .opinionstage-section-header {
  width: 100%;
}

.opinionstage-section-title {
  float: left;
  font-size: 30px;
  padding: 10px 0;
}

.opinionstage-need-help-link {
  float: right !important;
}

.opinionstage-section-header a {
  color: $blue;
  float: right;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 10px 25px;
  margin-right: 0;
  text-decoration: none;
}

/* Load More */
div#opinionstage-load-more {
  display: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid #dededd;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: baseline;
  color: #38aebd;
  background-color: transparent;
  border-color: #38aebd;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  margin-left: 20px;
  &:hover {
    text-decoration: none;
    opacity: 0.8;
  }
}

td.image {
  width: 12%;
}

.opinionstage-connectivity-status {
  color: #fff;
  float: right;
  font-size: 15px;
  margin: 5px 0;
}

.opinionstage-disconnect {
  background-color: transparent;
  border: none;
  color: $blue;
  cursor: pointer;
  &:focus {
    border: none;
  }
}

.opinionstage-connect-form:focus, 
.opinionstage-disconnect:focus {
  outline: 0 none;
}


.opinionstage-title {
  font-weight: bold;
}

#overlay {
  background-color: #fdfdfdc7;
  display: block;
  height: 100%;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}

.opinionstage-item-view-dashboard {
  margin: 30px;
  width: 1000px;
}

.opinionstage-header-inner-container {
  float: right;
  .select-wrapper {
    padding: 0 9px;
    display: inline-block;
    &:last-child {
      padding-right: 0;
    }
  }
  .opinionstage-header-inner-section {
    border-right: 1px solid #f3f3f3;
    float: left;
    padding-right: 4px;
  }
}

.opinionstage-header-inner-section a,
.os-long-text a {
  text-decoration: none;
}

.search-container {
  background-color: transparent;
  display: inline-block;
  width: 150px;
}

.opinionstage-section-header {
  #itemList {
    font-size: 12px;
    font-weight: bold;
    height: auto;
    padding: 10px;
    width: 100%;
  }
  #opinionstage-my-items-search-field {
    color: #797979;
    height: auto;
    padding: 8.5px 10px;
    width: 100%;
  }
}


.opinionstage-item-view-dashboard {
  .opinionstage-dashboard-section {
    margin: 0;
  }
  #opinionstage-items-table tbody {
    &:last-child tr.item-wrapper {
      border-bottom: 1px #e5e5e5 solid;
    }
    .action .opinionstage-edit-content:last-child {
      margin-right: 0;
    }
  }
}

.opinionstage-item-action-container {
  float: right;
  .opinionstage-edit-content {
    padding: 13px 17px !important;
  }
}

div#opinionstage-load-more {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #444;
  margin: 0;
}

.gettingStartedContainer {
  background: url(../images/bitmap_top.png) no-repeat 0 0;
  background-color: $blue;
  background-position: right;
  height: 170px;
  width: 760px;
}

.opinionstage-resources-title {
  padding: 40px 0;
}

.gettingBlockContainer {
  width: 760px;
}


.gettingTemplateTutorial {
  margin-right: 10px;
}

.gettingTemplateGallery,
.gettingTemplateTutorial,
a.help-center-os {
  border: 2px solid $blue;
  color: $blue;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  float: left;

  &:hover {
    background-color: rgba(49, 174, 190, 0.1);
    color: $blue;
  }

  &:focus {
    background-color: rgba(49, 174, 190, 0.1);
    box-shadow: none;
    color: $blue;
  }

  @media (min-width: 769px) {
    max-width: 370px;
  }
}

a.help-center-os {
  padding: 29px 0;
}



.opinionstage-connect-title {
  line-height: normal !important;
  margin-bottom: 40px !important;
  margin-top: 10px;
}

#opinionstage-content .opinionstage-getting-btn {
  background-color: #ff6d8a;
  border-color: #ff6d8a;
  border-radius: 2px;
  font-weight: 600;
  min-width: 100px;
  outline-color: #ff6d8a;
}

.opinionstage-item-view-dashboard #opinionstage-items-table {
  width: 100%;
  div.label {
    font-size: 13px;
  }
}

#opinionstage-content .opinionstage-item-view-dashboard .opinionstage-dashboard-section {
  margin-bottom: 5px;
}


/* my items page - modal form --start */
#opinionistage-my-items-page-modal-wrapper {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 6px / 6px;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#opinionistage-my-items-page-modal-wrapper .inner {
  background: #f5f5f5;
  padding: 1px 15px 10px 15px;
  margin-top: 20px;
}

#opinionistage-my-items-page-modal-wrapper .opinionistage-my-items-page-modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  width: 650px;
  padding: 25px 35px;
  font-size: 14px;
}

#opinionistage-my-items-page-modal-wrapper .opinionistage-my-items-page-modal a {
  color: $blue;
}

#opinionistage-my-items-page-modal-wrapper .opinionistage-my-items-page-modal a:focus {
  outline: none;
  box-shadow: none
}

#opinionistage-my-items-page-modal-wrapper .opinionistage-my-items-page-modal a.no-text-decoration {
  text-decoration: none;
}

#opinionistage-my-items-page-modal-wrapper .opinionistage-my-items-page-modal p {
  font-size: 14px;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-textarea-wrapper {
  display: flex;
  align-items: center;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-textarea-wrapper textarea {
  resize: none;
  margin: 10px 10px 10px 0;
  padding: 10px;
  width: 500px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #3aaebd;
  background: #fff;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-textarea-wrapper textarea:focus {
  box-shadow: none;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-close {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#opinionistage-my-items-page-modal-wrapper ol {
  margin-left: 17px;
}

#opinionistage-my-items-page-modal-wrapper ol li {
  margin-bottom: 15px;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-close:before,
#opinionistage-my-items-page-modal-wrapper .opinionstage-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #b1b1b1;
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-close:after {
  transform: rotate(-45deg);
}

#opinionistage-my-items-page-modal-wrapper .opinionstage-close:before {
  transform: rotate(45deg);
}

/* my items page - modal form --end */


@media only screen and (max-width: 1230px) {
  #opinionstage-content {
    .opinionstage-dashboard-left,
    .opinionstage-dashboard-right {
      float: none;
      width: auto;
    }
    .opinionstage-dashboard {
      overflow-y: scroll;
    }

    .opinionstage-item-view-dashboard  {
      .opinionstage-section-header .opinionstage-section-title {
        padding: 25px 0;
      }
      .opinionstage-dashboard-section .opinionstage-section-header {
        height: 95px;
      }
    }
    .opinionstage-dashboard-section .opinionstage-section-header {
      .opinionstage-header-inner-section a {
        display: block;
        float: none;
      }
    }
    
  } // #opinionstage-content
  
  
  
  .opinionstage-create-btn {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .opinionstage-item-action-container {
    float: none;
  }

  #opinionstage-items-table .action .opinionstage-item-action-container a {
    display: block;
    float: none;
    margin-bottom: 10px;
    width: 80%;
  }

  .opinionstage-item-view-dashboard {
    width: auto;
  }
}


.opinionstage-no-items {
  font-weight: 600;
  font-size: 15px;
  color: #212120;
}

a.opinionstage-add-our-first-item {
  font-weight: 600;
  font-size: 15px;
  color: #3499c2;
}

@media only screen and (max-width: 768px) {
  .gettingStartedSection {
    width: auto;
  }

  .gettingStartedContainer, .gettingBlockContainer {
    width: 100%;
  }

  .gettingBlockContainer .gettingTemplateGallery,
  .gettingBlockContainer .gettingTemplateTutorial {
    display: block;
    float: none;
    width: 100%;
  }
}
