@use autoprefixer;

@import 'icon-font';

$brand-blue: #3aaebd;
$inputs-border-color: #cccccc;

.opinionstage-content-popup-contents {
  min-width: 960px;

  &[data-opinionstage-client-logged-in=''] {
	max-width: 680px;
	min-width: 680px;

	.main-title {
	  font-size: 20px;
	}

	.page-content {
	  margin: 0 auto;
	  padding: 40px 30px 40px 30px;
	  #os-start-login {
		margin-top: 30px;
	  }
	}
  }


  * {
    margin: 0;
    padding: 0;
    color: #222120;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, sans-serif;
  }

  //header
  .header {
    background-color: #222120;
    width: 100%;
  }
  .header__container {
    color: #ffffff;
    margin: auto;
    padding: 0 10px;
  }

  .header__logo {
    display: inline-block;
    a {
      &:active, &:focus, &:hover, &:visited {
        border: none;
        background: none;
        box-shadow: none;
      }
    }
    img {
      margin: 15px 10px;
      width: 150px;
    }
  }
  .header__nav {
    display: inline-block;
    font-size: 0;
    vertical-align: bottom;
  }

  .header__action {
    display: block;
    float: right;
    font-size: 0;
    margin-top: 10px;
  }
  //content
  .page-content {
    margin: 0 auto;
    padding: 25px 15px 15px;
  }
  .main-title {
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
  }

  .conect-form {
    text-align: center;
    margin-top: 20px;
  }

  .content-actions {
    height: 40px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    &__left, &__right {
      display: inline-flex;
    }
    &__left {
      flex-grow: 1;
    }
    &__right {
      justify-content: flex-end;
    }

    &__sep {
      border-right: 1px solid #e5e5e5;
      margin: 0 20px;
    }
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .filter__itm {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    margin-right: 0;
    line-height : 25px;
    text-transform: uppercase;
    width: 100%;
    &:first-child {
      border-top: 1px solid #3487fa;
    }
    &:last-child {
      border-bottom: 1px solid #3487fa;
    }
    &.active {
      color: #fff;
      background: #5299fb;
      font-weight: normal;
      pointer-events: none;
    }
  }
  .filter {
    display: inline-block;
    margin: 0;
    width: auto;
  }

  .content__list {
    height: calc(92vh - 160px);
    overflow-y: scroll;
  }

  .content__loading {
    text-align: center;
  }

  .content__itm {
    display: block;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    &:first-child {
      border-top: 1px solid #e5e5e5;
    }
    &:hover {
      .content__links {
        display: inline-block;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  .content__image {
    display: inline-block;
    height: 90px;
    position: relative;
    width: 15%;
    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .content__info {
    display: inline-block;
    background: transparent;
    font-size: 16px;
    height: 85px;
    width: 50%;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .content__links {
    background: none;
    display: inline-block;
    float: right;
    text-align: right;
    height: 100%;
    padding: 20px 10px;
    left: 0;
    position: relative;
    top: 0;
    width: 30%;
    @media only screen and (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .content__links-itm {
    border-radius: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    display: block;
    line-height: 1;
    margin: 5px auto;
    padding: 14px 8px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1)
    }
  }

  .popup-content-btn {
    border: 1px solid #32adbc;
    border-radius: 2px;
    color: #32adbc;
    display: inline;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 14px;
    text-align: center;
    text-decoration: none;
    width: auto;
  }

  .content__label {
    background-color: #222120;
    bottom: auto;
    color: #ffffff;
    font-size: 12px;
    top: 0;
    left: 0;
    padding: 1px 5px;
    position: absolute;
    text-transform: uppercase;
    z-index: 2;
  }

  // buttons
  .std-btn {
    background-color: rgba(123, 91, 167, 0.4);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: white;
    display: inline-block;
    font: 16px/50px "Open Sans",Helvetica,sans-serif;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: bottom;
    width: 200px;
    user-select: none;

    &.active {
      background-color: #ffffff;
      color: #222120;
    }
  }

  .btn-create {
    background-color: #32adbc;
    border-radius: 3px;
    border-style: hidden;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding: 10px 11px;
    text-decoration: none;
    outline: none;
    &:hover {
      color: #fff;
      opacity: 0.9;
      text-decoration: none;
    }
    &:before {
      bottom: 0;
      content: "+";
      font-family: os-icon-font;
      font-size: 17px;
      font-weight: bold;
      height: 18px;
      margin-right: 8px;
      pointer-events: none;
      top: 0;
    }
  }

  .create-new-menu-box {
    display: inline-block;
    position: relative;
    &:hover {
      .create-new-menu {
        display: block;
      }
    }
  }
  .create-new-menu {
    display: none;
    position: absolute;
    width: 100%;
    width: 100%;
    top: 39px;
    left: 0;
    border: 1px solid $brand-blue;
    background-color: white;
    z-index: 3;
  }
  .create-menu__itm {
    display: block;
    color: $brand-blue;
    border-bottom: 1px solid $brand-blue;
    padding: 8px 12px;
    background-color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      color: white;
      background-color: #44a9d2;
    }
  }

  .btn-close {
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font: 27px/48px Open Sans,Helvetica,sans-serif;
    margin-left: 20px;
    text-align: center;
    width: 42px;
    &:hover {
      opacity: 0.8;
    }
  }

  .btn-blue {
    display: inline-block;
    background-color: #38aebd;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 36px;
    outline: medium none;
    text-transform: uppercase;
    text-decoration: none;
    width: 140px;
    &:hover {
      background-color: #55A6CC;
    }
  }

  .btn-show-more {
    padding: 15px 0;
    border: none;
    background-color: #e6e6e6;
    width: 100%;
  }

  .std-inp {
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    height: 36px;
    outline: medium none;
    padding: 0 15px;
    width: 450px;
  }

  .os-search {
    width: 180px;
    display: inline-flex;
    border: 1px solid $inputs-border-color;
    border-radius: 2px;
    box-shadow: 0 0;
    &__input {
      color: #797979;
      padding-left: 10px;
      width: 100%;
      border: none;
      border-radius: 0;
      outline: none;
      &:focus {
        border: none;
        border-radius: 0;
        box-shadow: none;
        outline: none;
      }
    }
    &__icon {
      color: $brand-blue;
      line-height: normal;
      font-size: 18px;
      padding: 10px 9px;
      margin: 0;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .opinionstage-blue-btn {
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 10px;
    font-weight: normal;
    background-color: #38aebd;
    border-radius: 3px;
    border-style: hidden;
    width: 95px;
    margin-right: 15px;
    &:hover {
      opacity: 0.9;
    }
  }
  .opinionstage-section-notification {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 20px 25px;
    z-index: 3;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.6)
  }
  .opinionstage-section-notification__title {
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .opinionstage-section-notification__controls {
    position: relative;
    font-size: 0;
  }
  .notification-container {
    ~ div {
      > .page-content {
        .content__list {
          max-height: calc(92vh - 270px);
        }
      }
    }
  }
  .bordered-container {
    border: 1px #e5e5e5 solid;
    text-align: center;
    padding: 40px;
  }

  .opinionstage-introduction-video {
    text-align: center;
    padding: 20px;
  }

  .opinionstage-connect-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .opinionstage-conect-input {
      border: 1px #e5e5e5 solid;
      height: 40px;
      padding: 0 15px;
      width: 420px;
      border-radius: 3px;
      margin-right: 10px;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  .dropbtn {
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    border-right: 0 !important;
    box-shadow: 0 0 0 !important;
    cursor: pointer;
    display: inline-block;
    font: 12px/38px Open Sans,Helvetica,sans-serif;
    outline: none!important;
    padding-left: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 140px;
    margin-right: 50px;
    span {
      color: #555454;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &:before {
      color: #000;
      content: "юдв";
      display: block;
      font-family: os-icon-font !important;
      font-size: 9px;
      position: absolute;
      right: -25px;
      top: 0;
      z-index: 3;
      font-weight: bold;
    }
    &:after {
      border: 1px solid #e4e4e4;
      border-left: 0 !important;
      content: "";
      height: 45px;
      position: absolute;
      right: -40px;
      top: -1px;
      width: 40px;
      height: 38px;
    }
  }

  .dropdown {
    display: inline-block;
    position: relative;
    &:hover {
      .popup-action-dropdown.dropdown-content {
        width: 130px;
      }

      .popup-action.popup-content-btn {
        background-color: #32adbc;
        &:before {
          color: #fff;
        }
      }
    }
  }

  .dropdown-popup-action {
    height: 45px;
  }

  .dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
    left: 1px;
    position: absolute;
    top: 40px;
    z-index: 9;
  }

  .dropdown-content div {
    background-color: #fff;
    border: 1px solid #3487fa;
    border-bottom: 0;
    border-top: 0;
    color: #555454;
    display: block;
    padding: 5px 10px 5px 20px;
    text-decoration: none;
  }

  .dropdown-content div:hover {
    background-color: #3487fa; color: #fff !important;
  }

  .dropdown_items .dropdown-content {
    width: 180px;
  }
  .dropdown:hover .dropdown-content {
    display: block !important;
    width: 180px;
  }
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }

  .popup-action {
    &:before {
      color: #32adbc;
      padding: 0;
      position: absolute;
      right: 18px;
      content: "юдв";
      display: block;
      font-family: os-icon-font !important;
      font-size: 9px;
      top: 15px;
      z-index: 3;
      font-weight: bold;
    }

    &.popup-content-btn {
      margin-left: 10px;
      padding: 12px 25px;
      position: relative;
    }
  }

  .popup-action-dropdown {
    background: #fff;
    border: 1px solid #32adbc;
    border-radius: 3px;

    .content__links-itm {
      border: none;
      border-bottom: 1px solid #32adbc;
      border-radius: 0;
      color: #32adbc;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      padding: 10px 10px;
      width: auto;
      text-align: left !important;
      letter-spacing: 1px;
      &:hover {
        background-color: #32adbc !important;
        color: #fff;
      }
      &:last-child {
        border: none;
      }
    }

    &.dropdown-content {
      left: auto;
      right: 0;
      top: 20px;
      z-index: 10;
    }
  }
  .opinionstage-anchors-list {
	.filter__itm {
	  padding: 0;
	  &:hover {
		a {
		  color: #fff;
		}
	  }
	}
	a {
	  padding: 5px 10px 5px 20px;
	  display: block;
	  text-decoration: none;
	  width: 100%;
	}
  }

}
