.opinionstage-button {
    border-radius: 3px;
    display: inline-block;
    border-style: hidden;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-width: 100px;
    padding: 9px 10px;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
        color: #fff;
    }

    &__pink {
        background-color: #F46368;
    }

    &__uppercase {
        text-transform: uppercase;
    }
}
