#opinionstage-content {
  margin: 0;
  height: auto;
  min-height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  padding-top: 20px;
  overflow: hidden;
}
#opinionstage-content a {
  color: #3499c2;
}
#opinionstage-content .opinionstage-header-wrapper {
  background: #232121;
  overflow: hidden;
}
#opinionstage-content .opinionstage-logo-wrapper {
  padding: 10px 30px;
}
#opinionstage-content .opinionstage-logo {
  background: url("../images/purple-logo.png") no-repeat 0px 0px;
  width: 150px;
  height: 30px;
  background-size: contain;
}
#opinionstage-content .opinionstage-status-content {
  background-color: #fff;
  height: 115px;
  padding: 30px 30px 0;
  color: #000;
}
#opinionstage-content .opinionstage-status-content-connected {
  background: url(../images/top-bg.png) no-repeat 0px 0px;
    height: 115px;
    padding: 30px 30px 0;
    color: #fff;
}
#opinionstage-content .opinionstage-connect-form{
  display: inline-block;
}
#opinionstage-content .opinionstage-connect-btn{
  position: relative;
  top: -2px;
}
#opinionstage-content .opinionstage-status-title {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: lighter;
  line-height: 25px;
}
#opinionstage-content .opinionstage-status-content .os-icon-plugin {
  font-size: 19px;
  margin-right: 7px;
}
#opinionstage-content #os-switch-email {
  padding: 11px 0;
  font-size: 14px;
}
#opinionstage-content .opinionstage-blue-btn {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 11px 10px;
  font-weight: normal;
  background-color: #3499c2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: hidden;
}
#opinionstage-content .opinionstage-blue-btn:hover {
  opacity: 0.9;
}
#opinionstage-content .opinionstage-create-btn {
  width: 100px;
}
#opinionstage-content a.opinionstage-blue-bordered-btn {
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  color: #3499c2;
  border: 1px solid #3499c2;
  padding: 10px 5px;
}
#opinionstage-content .opinionstage-dashboard-right a.opinionstage-blue-bordered-btn {
  float: left;
  margin-right: 5px;
}
#opinionstage-content a.opinionstage-blue-bordered-btn:hover, .opinionstage-sidebar-widget a.opinionstage-blue-bordered-btn:hover {
    color: white;
    background-color: #3499c2;
    cursor: pointer;
}
#opinionstage-content a.opinionstage-blue-bordered-btn.disabled {
    color: #cacac8;
    border: 1px solid #cacac8;
}
#opinionstage-content a.opinionstage-blue-bordered-btn.disabled:hover {
    color: #cacac8;
    background-color: #f9f9f9;
    cursor: default;
}
#opinionstage-content input#os-email {
    margin: 0 15px 0 0;
    border: none;
    font-size: 20px;
    font-weight: lighter;
    padding: 3px 10px;
    min-width: 247px;
    border: 2px solid #8a8a8a;
}
#opinionstage-content input#os-email:disabled {
  color: white;
  background-color: black;
  padding: 3px 10px;
  opacity: 0.7;
}
#opinionstage-content .opinionstage-dashboard {
    padding: 30px;
    overflow: hidden;
    max-width: 1060px;
}
#opinionstage-content .opinionstage-dashboard-left , #opinionstage-content .opinionstage-dashboard-right {
    float: left;
    width: 750px;
}
#opinionstage-content .opinionstage-dashboard-left {
  margin-right: 40px;
}
#opinionstage-content .opinionstage-dashboard-section {
  margin-bottom: 30px;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-header {
    overflow: hidden;
    height: 58px;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-header .opinionstage-section-title {
    font-size: 25px;
    float: left;
    padding: 10px 0;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-header a {
    float: right;
    margin-right: 0;
    padding: 10px 25px;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
#opinionstage-content .opinionstage-dashboard-section .opinionstage-video-container {
  margin: 10px;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}
#opinionstage-content .opinionstage-dashboard-section .opinionstage-video-itm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content .opinionstage-section-sub-title {
    display: table-caption;
    font-size: 18px;
    color: #3499c2;
    font-weight: bold;
  margin-bottom: 30px;
}
#opinionstage-content a.opinionstage-help-link {
  font-size: 18px;
  text-decoration: none;
}
#opinionstage-content #opinionstage-section-help .opinionstage-section-content {
  border: 1px solid #c8c8c9;
}
#opinionstage-content .opinionstage-help-row {
  padding: 25px 0 25px 10px;
  margin: 0 10px;
  border-bottom: 1px solid #c8c8c9;
}
#opinionstage-content .opinionstage-help-row:last-child {
  border-bottom: none;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content-wrapper {
  display: block;
  padding: 0 10px;
  border: 1px solid #c8c8c9;
  box-sizing: border-box;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content .opinionstage-section-raw {
  display: table-row;
  border: 1px solid #c8c8c9;
}
#opinionstage-content .opinionstage-dashboard-section .opinionstage-section-content-wrapper  .opinionstage-section-content .opinionstage-section-raw {
  border: none;
  border-bottom: 1px solid #c8c8c9;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content-wrapper .opinionstage-section-content .opinionstage-section-raw:last-child {
  border-bottom: none;
}
#opinionstage-content .opinionstage-dashboard-section  .opinionstage-section-content .opinionstage-section-raw  .opinionstage-section-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0px;
}
#opinionstage-section-create .opinionstage-section-content, #opinionstage-section-placements .opinionstage-section-content {
  height: 435px;
}
#opinionstage-section-create  .opinionstage-section-cell.opinionstage-icon-cell {
  width: 10%;
  text-align: center;
  color: #3499c2;
  font-size: 35px;
}
#opinionstage-section-create  .opinionstage-section-cell.opinionstage-description-cell {
  width: 45%;
}
#opinionstage-section-create  .opinionstage-section-cell.opinionstage-btn-cell {
  width: 35%;
}
#opinionstage-section-create  .opinionstage-section-cell.opinionstage-description-cell .title, #opinionstage-section-placements  .opinionstage-section-cell.opinionstage-description-cell .title {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 5px;
}
#opinionstage-section-placements.opinionstage-disabled-section  .opinionstage-section-cell.opinionstage-description-cell .title {
  color: #a4a4a5;
}
#opinionstage-section-create  .opinionstage-section-cell.opinionstage-description-cell .example, #opinionstage-section-placements  .opinionstage-section-cell.opinionstage-description-cell .example {
  color: #b1b1b1;
}
#opinionstage-section-placements .opinionstage-section-raw {
  padding: 5px;
}
#opinionstage-section-placements  .opinionstage-section-cell.opinionstage-toggle-cell {
  width: 15%;
}
#opinionstage-section-placements  .opinionstage-section-cell.opinionstage-description-cell {
  width: 46%;
}
#opinionstage-section-placements  .opinionstage-section-cell.opinionstage-btns-cell {
  width: 39%;
}
#opinionstage-section-placements  .opinionstage-section-cell.opinionstage-btns-cell .opinionstage-edit-content {
  width: 105px;
}
#opinionstage-section-placements  .opinionstage-section-cell.opinionstage-btns-cell .opinionstage-edit-settings {
  width: 29px;
  height: 18px;
  font-size: 19px;
}
#opinionstage-section-help .opinionstage-section-content {
  height: 307px;
}
#opinionstage-section-help .opinionstage-section-cell a {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
}
#opinionstage-content .opinionstage-onoffswitch {
  position: relative;
  width: 50px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  display: inline-block;
}
#opinionstage-content .opinionstage-onoffswitch.disabled {
  opacity: 0.4;
}
#opinionstage-content input.opinionstage-onoffswitch-checkbox {
  display: none;
}
#opinionstage-content .opinionstage-onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 15px;
}
#opinionstage-content .opinionstage-onoffswitch.disabled .opinionstage-onoffswitch-label:hover {
  cursor: default;
}
#opinionstage-content .opinionstage-onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
}
#opinionstage-content .opinionstage-onoffswitch-inner:before, .opinionstage-onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 24px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.9);
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.63);
}
#opinionstage-content .opinionstage-onoffswitch-inner:before {
  content: '';
  padding-left: 15px;
  background-color: #3499c2;
}
#opinionstage-content .opinionstage-onoffswitch-inner:after {
  content: '';
  padding-left: 18px;
  background-color: #c8c8c9;
  text-align: center;
}
#opinionstage-content .opinionstage-onoffswitch.disabled .opinionstage-onoffswitch-inner:after {
  background-color: #c8c8c9;
}
#opinionstage-content .opinionstage-onoffswitch-switch {
  width: 22px;
  margin: 0px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  bottom: 0;
  right: 25px;
  -moz-transition: all 0.1s ease-in 0s;
  -webkit-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  height: 22px;
}
#opinionstage-content .opinionstage-onoffswitch-checkbox:checked + .opinionstage-onoffswitch-label .opinionstage-onoffswitch-inner {
  margin-left: 0;
}
#opinionstage-content .opinionstage-onoffswitch-checkbox:checked + .opinionstage-onoffswitch-label .opinionstage-onoffswitch-switch {
  right: 3px;
}
/* Getting started */
.gettingStartedSection {
    background: #fff;
    width: 100%;
    max-width: 100%;
    padding: 30px;
    overflow: hidden;
}
.gettingStartedSection p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
}
.gettingStartedSection .Video-Section {
    display: block;
    width: 100%;
    max-width: 650px;
    float: left;
}
.Video-Section .iframe-new {
    display: block;
    width: 100%;
    max-width: 600px;
}
h1.gettingStartedHeading {
    letter-spacing: 1px;
    width: 100%;
    max-width: fit-content;
    margin: 0px auto;
    font-size: 30px;
    line-height: 35px;
}
h1.gettingStartedHeading_logo {
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 35px;
    margin: 0px;
}
#opinionstage-content a.gettingStartedCreate.button {
    color: #ffffff;
    background: #3499c2;
    box-shadow: 0px 0px 0px 0px;
    padding: 11px 10px;
    display: block;
    height: auto;
    width: 100%;
    max-width: fit-content;
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 1px;
}
/* Getting Started Not Connected */
.gettingStartedSectionNotConnect {
    background: #fff;
    width: 100%;
    max-width: 100%;
    padding: 5px 0px 40px 40px;
}
.gettingStartedSectionNotConnect p {
    font-size: 20px;
}
.text-section-getting-stared-os {
    width: 100%;
    max-width: 400px;
    float: left;
}
@media only screen and (max-width: 1230px) {
  .text-section-getting-stared-os {
      margin-top: 39px;
      padding-left: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .gettingStartedSection {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px !important;
}
#opinionstage-content .opinionstage-status-content {
    height: 160px !important;
}
#opinionstage-content .opinionstage-status-content-connected {
    height: 162px !important;
}
.gettingStartedSection p {
    text-align: center;
}
#opinionstage-content .opinionstage-blue-btn {
    margin-top: 15px;
    margin-left: 30px;
}
#opinionstage-content a.gettingStartedCreate.button {
    margin: 20px auto 0px !important;
}
.text-section-getting-stared-os p{
  text-align: left;
}
}
#opinionstage-content .opinionstage-create-btn.template {
    padding: 11px 25px !important;
    width: auto !important;
}
/* My Items Page Css */
td.long {
    width: 340px;
    padding-left: 10px;
}
td.long div{
  width: 90%;
  }
td.action a.opinionstage-blue-bordered-btn{
      margin-right: 15px;
}
td.long table{
    width: 100%;
    color: #b1b1b1;
    position: absolute;
    bottom: 0;
    line-height: normal;
}
td.long table td {
      max-width: 300px;
}
span.os-icon-plugin.icon-os-common-date {
    float: left;
    margin-right: 10px;
}
.label {
    line-height: 15px;
}
.content-item-label {
    background-color: #222120;
    padding: 2px 4px;
    font-size: 10px;
    color: #fff;
}

a.opinionstage-blue-bordered-btn {
    float: left;
    margin-right: 5px;
}
 a.opinionstage-blue-bordered-btn {
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    color: #3aaebd;
    border: 1px solid #3aaebd;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 14px;
}
td.action {
    width: 380px;
    opacity: 0.7;
}
span.os-icon-plugin.icon-os-common-date {
    margin-right: 4px;
}
td.long a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: normal;
}
.content-item-image.quiz {
    position: relative;
    width: 120px;
    height: 90px;
}
.content-item-image.quiz img {
    opacity: 0.8;
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 90px;
}
.content-item-label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #222120;
    padding: 0px 4px;
    font-size: 10px;
}
tr.settingBorderOs {
    border-top: 1px #e5e5e5 solid;
    display: table-cell;
    padding: 8px 0px;
}
.opinionstage-section-header {
    font-size: 23px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    height: 40px;
}
div#container .opinionstage-section-header {
    width: 100%;
    max-width: 890px;
}
.opinionstage-section-title {
    font-size: 25px;
    float: left;
    padding: 10px 0;
}
.opinionstage-section-header a {
    float: right;
    margin-right: 0;
    color: #3499c2;
    font-weight: 600;
    font-size: 15px;
    margin: 10px 25px;
}

/* Load More */
div#loadMore {
  cursor:pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px;
    text-transform: uppercase;
    border: 1px solid #dededd;
    border-radius: 3px;
    padding: 0 10px;
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: baseline;
    color: #38aebd;
    background-color: transparent;
    border-color: #38aebd;
    width: 100%;
    max-width: 870px;
    margin-bottom: 20px;
    margin-left: 20px;
}
div#loadMore:hover {
    text-decoration: none;
    opacity: 0.8;
}
td.image {
    width: 15%;
}